@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Noto+Sans+TC:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F5F5F5;
    height: 100%;
    margin: 0px;
}

#__nuxt {
    height: 100%;
}

.writing-mode-horizontal { writing-mode: horizontal-tb }
.writing-mode-vertical { writing-mode: vertical-lr }
.writing-mode-vertical-rl { writing-mode: vertical-rl }

.trnaslate-mid {transform: translate(-50%, -50%)}